.calendar-table table {
    width: 100%;
}

.calendar-table th {
    text-align: center;
}

.calendar-table td {
    height: 100px;
    padding: 2px 0 0;
    vertical-align: top;
    position: relative;
}

.event-pnl {
    height: 22px;
    margin: 0;
    margin-top: 25px;
    position: absolute;
    background-color: rgb(255, 240, 240);
    z-index: 1;
}

.event-1-7 { width: 99%; }
.event-2-7 { width: 199%; }
.event-3-7 { width: 299%; }
.event-4-7 { width: 399%; }
.event-5-7 { width: 499%; }
.event-6-7 { width: 599%; }
.event-7-7 { width: 699%; }

span.dim {
    color: #bfbfbf;
}

.popup-scheduler {
    width: 400px;
}